.container {
	width:710px;		
}

body {
	background :#bbffff;
}

nav {
	float: right;
	background:#fff;
	padding-top:1em;
	margin-top:1em;
}

a {
	text-decoration:none;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	text-style:bold;
}

nav ul li a {
	font-size:120%;
	font-weight:bold;
	padding-left:5px;
}

nav ul li a:hover {
	text-decoration:underline;
}

header img {
	background-color: #fff;
	padding : 10px;
	margin-top:1em;
}

section {
	background: #fff;
	padding: 20px;
	margin-top:10px;
}

section p{
	font-size:120%;	
}

section a.signupstyle {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	display: block;
	background-color: #c00;
	padding: 10px;
	color:#fff;
	font-size:200%;
	font-weight:bold;
	width:190px;
}

.round {
	-moz-border-radius :10px;
	-webkit-border-radius :10px;
	border-radius :10px;
}

.sidebar {
	font-size: 1.2em;
	background-color: #efd;
	padding: 10px;
	margin-top: 0px;	
}

.gravatar {
	border: 2px solid #777;
	padding: 2px;
	margin-right:10px;
	margin-bottom: -17px;
}

div.field, div.action {
	margin-bottom: 5px;
}

div#error_messages {
	background-color: #900;
	color: #fff;
	padding:7px;
	margin-bottom: 10px;	
}

div#error_messages h1 {
	font-size:2.0em;
	
	margin: 0;
	color: #fff;
}

div#error_messages p {
	font-size:1.5em;
	margin: 0;
}

div#error_messages ul {
	margin-top:0;
}

div#error_messages ul li{
	margin-bottom: 2px;
}

div.flash {
	font-size:1.4;
	font-weight:bold;
}

ul.users li {
	list-style: none;
	margin-top: 2em;
}

/* Microposts style */

td {
	vertical-align: top;
}

tbody tr:nth-child(2n) td.micropost, tbody tr.even td.micropost {
    background: none repeat scroll 0 0 #fff;
}

td.micropost {
	font-size: 1.2em;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

span.content {
	line-height: 1.2em;
}

span.timestamp {
	display: block;
	font-weight: bold;
}



